.logo {
    width: 50%;
}

::placeholder {
    color: white;
}

.dropdown-menu{
    
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.tagAppareils_green, .tagIngredients_blue, .tagUstensiles_red{
    list-style: none;
    color: white;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    border-radius: 10px;
}
.tagIngredients_blue{
    background-color: #0d6efd;
}
.tagAppareils_green{
    background-color:#198754;
}
.tagUstensiles_red{
    background-color:#dc3545;
}

.fullCard{
    background-color: lightgrey;
}

.titleTime{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listIngredientRecette{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ingredientsFilter{
    width: 100%;
}
.ingredientsFilterList{
    width: 30%;
}
@media (max-width:1200px) {
    .recette_section{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:768px){
    .allFilter{
        display: flex;
        flex-direction: column;
    }
}